<ion-header class="ion-no-border"  >
  <ion-toolbar>
    <ion-title>Recibos de Servicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-item>
          <ion-label class="text-center">
            <ion-button  (click)="irRuta('menu-principal')" color="primary" size="small" >Ir a inicio</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col  *ngFor="let documentoServicio of documentosServicios" size-lg="6"  size="12">
        <ion-item lines="none" style="margin: 2px;" class="animate__animated animate__fadeInUpBig">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="12">
                <a ion-button href="{{documentoServicio.documentoURL}}" download="{{documentoServicio.servicioCODIGO}}.pdf" target="_blank" >Decargar recibo de Servicio {{documentoServicio.servicioCODIGO}}</a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
